set_location led_0_1.CO0 1 6 0 # SB_LUT4 (LogicCell: led_0_1.CO0_LC_0)
set_location led_0_1.N_15_i 1 6 1 # SB_LUT4 (LogicCell: led_0_1.N_15_i_LC_1)
set_location GND -1 -1 -1 # GND
set_io led_obuf[0] 33 6 0 # ICE_IO
set_io led_obuf[1] 33 4 1 # ICE_IO
set_io switch_ibuf[0] 0 11 0 # ICE_IO
set_io switch_ibuf[1] 0 6 0 # ICE_IO
set_io switch_ibuf[2] 0 4 0 # ICE_IO
